.mainNav {
	margin-bottom: 0.6rem;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	/* border: solid red 1px; */
}
.mainNav img {
	/* margin: 0 20px; */
	/* width: auto; */
	/* border: solid red 1px; */
	height: 4rem;
}

@media only screen and (max-width: 400px) {
	.mainNav {
		padding: 0 20px;
	}
	.mainNav img {
		height: 3rem;
	}
}
