.navBar {
	/* border: solid yellow 1px; */
	background-color: #212121;

	position: fixed;
	width: 60%;
	z-index: 10;
	padding: 10px 0;
}

@media only screen and (max-width: 1000px) {
	.navBar {
		width: 100%;
	}
}
