.navLinks {
	/* border: solid red 1px; */
	display: flex;
	list-style: none;
}
.navLinks ul {
	display: flex;
	list-style: none;
	margin: 0 0.5rem;
}
.navLinks ul li {
	margin: 0.5rem;
	/* color: rgb(5, 5, 184); */
}
.navLinks button {
	padding: 0 20px;
}
.navLinks a {
	/* border: solid red 1px; */
	padding: 0.5rem 0.5rem;
	text-decoration: none;
	color: rgb(5, 5, 184);
}

.navLinks li:hover {
	text-decoration: underline;
}

.navLinks a.active {
	background-color: rgb(164, 164, 40);
	color: black;
	border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
	.navLinks li:hover {
		text-decoration: none;
	}
}
