section {
	/* border: solid 1px red; */
	padding-top: 30px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* height: 10vh; */
}
.cardListArea {
	/* border: solid 1px red; */
	padding: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
