.card {
	/* color: red; */
	border: 1px solid red;
	min-width: 8rem;
	height: 10rem;
	border-radius: 10%;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* align-items: center; */
}
.card .image_holder {
	border-bottom: 1px solid blue;
	overflow: hidden;
	max-width: 8rem;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: rgba(255, 255, 255, 0.612);
}
.card .image_holder p {
	position: absolute;
	z-index: 5;
	top: -10px;
	left: 10px;
}

/* .card .image_holder div {
	border-bottom: 1px solid red;
	width: 80%;
	height: auto;
	border-radius: 50%;
} */

.card img {
	/* border: solid 1px red; */
	width: 80%;
	height: auto;
	border-radius: 50%;
	/* object-fit: cover; */
}
.card .imageLoading {
	width: 50%;
	height: auto;
}

.card header {
	height: 30%;
	background-color: beige;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 0;
}
.card h3 {
	/* padding: 0; */
	margin: 1rem 0 0.3rem 0;
	/* margin: auto; */
	/* border: solid 1px black; */
}

.card .black {
	background-color: #a9a9a9;
	color: #000000;
}
.card .blue {
	background-color: #d1e4ff;
	color: #3d8bff;
}
.card .brown {
	background-color: #eedd82;
	color: #b8860b;
}

.card .gray {
	background-color: #d3d3d3;
	color: #696969;
}

.card .green {
	background-color: #deffde;
	color: #228b22;
}

.card .pink {
	background-color: #ffe4e1;
	color: #db7093;
}
.card .purple {
	background-color: #c5badb;
	color: #6a5acd;
}
.card .red {
	background-color: #ffd1d1;
	color: #ff6347;
}

.card .white {
	background-color: #ffffff;
	color: black;
}

.card .yellow {
	background-color: #fffacd;
	color: #d0b103;
}

/* .card img:hover {
	animation: move 5s infinite;
} */

.card h3:hover {
	cursor: pointer;
	text-decoration: underline;
}
/* @keyframes move {
	0% {
		width: 80%;
	}
	25% {
		width: 60%;
	}
	50% {
		width: 80%;
	}
	100% {
		width: 100%;
	}
} */
