.detailCard {
	/* border: solid red 1px; */
	border-radius: 20px;
	padding: 10px;
	margin: 4rem 0;
	/* height: 75vh; */
	background-color: rgba(246, 241, 241, 0.3);
	display: flex;
}
.detailCard .section_image {
	width: 40%;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
}
.detailCard .section_image .main {
	margin-bottom: 5px;
	/* border: solid red 1px; */
	border-radius: 20px;
}
.main.black {
	background-color: #a9a9a9;
	color: #000000;
}
.main.blue {
	background-color: #d1e4ff;
	color: #3d8bff;
}
.main.brown {
	background-color: #eedd82;
	color: #b8860b;
}

.main.gray {
	background-color: #d3d3d3;
	color: #696969;
}

.main.green {
	background-color: #deffde;
	color: #228b22;
}

.main.pink {
	background-color: #ffe4e1;
	color: #db7093;
}
.main.purple {
	background-color: #c5badb;
	color: #6a5acd;
}
.main.red {
	background-color: #ffd1d1;
	color: #ff6347;
}

.main.white {
	background-color: #ffffff;
	color: black;
}

.main.yellow {
	background-color: #fffacd;
	color: #d0b103;
}
.detailCard .section_image .main img {
	/* border: solid blue 1px; */
	width: 13rem;
	height: 13rem;
}

.detailCard .thumbnails {
	/* border: solid red 1px; */
	/* width: 5rem;
	height: 5rem; */
	display: flex;
}
.detailCard .thumbnails img {
	margin: 0 2px;
	width: 7rem;
	height: 7rem;
}
.detailCard .thumbnails img:hover {
	cursor: pointer;
	/* border: solid white 1px; */
}

.detailCard section {
	/* border: solid yellow 1px; */
	height: 90%;
}

.detailCard .section_info {
	width: 80%;
	padding: 1rem;
	border-radius: 20px;
	border: solid 2px;
}

table {
	border-collapse: collapse;
}
td {
	padding: 10px;
	/* border-radius: 20px; */
}

th {
	width: 30%;
}
.detailCard tr:nth-child(odd) {
	background-color: #ffffffb8;
}
.detailCard tr:nth-child(even) {
	background-color: #fffffffe;
}

@media only screen and (max-width: 1000px) {
	.detailCard {
		margin: 1.5rem;
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 400px) {
	.detailCard .section_info {
		border: none;
		border-top: solid 2px;
		border-bottom: solid 2px;
	}
}
