.loading {
	/* border: solid yellow 1px; */
	height: 50vh;
	/* width: 40%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loading img {
	width: 4rem;
	height: 4rem;
	/* border: solid red 1px; */
	margin: 0 10px;
	background-color: transparent;
	border-radius: 50%;
}

.loading .bulbasaur {
	position: relative;
	animation-timing-function: linear;
	animation: jump 2s linear infinite;
}
.loading .charmander {
	position: relative;
	top: -10px;
	animation-timing-function: linear;
	animation: jump2 2s linear infinite;
}
.loading .squirtle {
	position: relative;
	top: -20px;
	animation-timing-function: linear;
	animation: jump3 2s linear infinite;
}
.loading .pikachu {
	position: relative;
	top: -10px;
	animation-timing-function: linear;
	animation: jump2 2s linear infinite;
}
.loading p {
	color: #fff;
	font-size: larger;
}
@keyframes jump {
	0% {
		top: 0px;
	}
	25% {
		top: -10px;
	}
	50% {
		top: -20px;
	}
	75% {
		top: -10px;
	}
	100% {
		top: 0px;
	}
}
@keyframes jump2 {
	0% {
		top: -10px;
	}
	25% {
		top: 0px;
	}
	50% {
		top: -10px;
	}
	75% {
		top: -20px;
	}
	100% {
		top: -10px;
	}
}
@keyframes jump3 {
	0% {
		top: -20px;
	}
	25% {
		top: -10px;
	}
	50% {
		top: 0px;
	}
	75% {
		top: -10px;
	}
	100% {
		top: -20px;
	}
}
