.pagination {
	/* border: 1px solid red; */
	background-color: #212121;
	position: fixed;
	display: flex;
	width: 60%;
	align-items: center;
	justify-content: center;
	/* margin: auto; */
	padding-bottom: 1rem;
	background-color: #212121;
	z-index: 10;
}
.pagination div {
	border-right: solid black 2px;
	border-left: solid black 2px;
	width: 80%;
	overflow-x: hidden;
	display: flex;
	margin: 0 20px;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}
.pagination button {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: none;
}

.pagination button.active {
	background-color: #4caf50;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}
.pagination button:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}
@media only screen and (max-width: 1000px) {
	.pagination {
		width: 100%;
	}
	.pagination div {
		width: 60%;
	}
}
