.searchBar {
	/* border: solid red 1px; */
	background-color: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-bottom: 1rem;
}
.searchBar input {
	width: 30%;
	height: 1.5rem;
	padding: 0 10px;
	margin: 0 20px;
	font-size: larger;
}

.searchBar button {
	background-color: #fecb00;
	height: 1.5rem;
}
.searchBar button:hover {
	cursor: pointer;
}
